//css for TopComponent
//menus
.create
    .form
        min-height: 38vh
        .title
            font-size: 75%
            color: rgba(0, 0, 0, 0.4)
            padding-top: 3vh
        .pe-textfield
            height: 15vh
    .buttons
        display: flex
        width: 96vw
    .pe-button.send, .pe-button.next, .pe-button.prev
        width: 49%

.filter
    .listview
        .block
            width: 95.5vw
            min-height: 10vh
