.create
    .block
        margin-top: 5vh
    .buttons
        display: flex
    .pe-button.send, .pe-button.detail
        width: 49%

.listview
    .block
        border-bottom: solid 1px
        border-color: #aaa
        margin-top: 2vh

        .attributes
            width: 100%
            height: 3vh
            display: inline-flex
            .attr
                width: 20%
                height: 100%
                display: inline-flex

        .idlevel
            font-size: 80%
            border-radius: 2px
            text-align: center
            width: 100%
        .idlevel-1
            color: #000
            background-color: #fff
        .idlevel-2
            color: #fff
            background-color: #4f4
        .idlevel-3
            color: #fff
            background-color: #fb4
        .idlevel-4
            color: #fff
            background-color: #f44
        .title-h1
            margin-bottom: 1%

        .desc
        .name
            white-space: nowrap
            height: 2.7vh
            margin-bottom:0.3vh
        .desc
            color: #aaa
            font-size: 75%
        .date
            font-size: 70%
            width: 100%

        div.user
        div.star
            font-size: 80%
            position: relative
        img
            width: 4vw
            height: 4vw
            
