+media-query( all, max-device-width 400px )
    div
        font-size: 16px
+media-query( all, min-device-width 400px, max-device-width 640px )
    div
        font-size: 20px

outline-text(w, c)
    text-shadow: w w c, (-1*w) w c, w (-1*w) c, (-1*w) (-1*w) c
    
shadowing()
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)
