+media-query( all, max-device-width 400px )
    div
        font-size: 16px
+media-query( all, min-device-width 400px, max-device-width 640px )
    div
        font-size: 20px

outline-text(w, c)
    text-shadow: w w c, (-1*w) w c, w (-1*w) c, (-1*w) (-1*w) c
    
shadowing()
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28)

.title-h1
    font-size: 130%
    
.title-h2
    font-size: 110%

.explaination
    font-size: 75%
    color: rgba(0, 0, 0, 0.4)
    width: 96vw

.pe-textfield
    width: 96vw
    
.pe-button--text 
    .pe-button__label
        min-height: 48px
        padding: 17px 0

.scroll-container
    height: 88vh
    
.listview
    .block
        border-bottom: solid 1px
        border-color: #aaa
        margin-top: 2vh
