.header
    position: absolute
    pointer-events:none
    z-index: 20
    width: 100%
    height: 3vh
    top: 0%
    left: 0%
    .stats
        display: flex
        .latency
            text-align: right
            outline-text: 0.25px #fff
            col(2)
        .container
            col(10)
            display: table-cell
            color: #fff
            .msg
                font-size: 80%
                display: table-cell
                background-color: #e70
                text-align: center
                vertical-align: middle
                width: 100vw
                pointer-events:auto
                height: 5vh
            .msg:empty
                opacity: 0 
                pointer-events:none
            .x, .connect
                font-size: 80%
                display: table-cell
                text-align: center
                vertical-align: middle
                background-color: #e70
                text-decoration: underline
                width: 15%
                pointer-events:auto
                height: 5vh
            .connect
                width: 20%
        .container.full-length
            col(12)
