img.user
    content: url("../img/user.svg");

img.star
    content: url("../img/star.svg");

img.clock
    content: url("../img/clock.svg");
    
img.plus
    content: url("../img/plus.svg");
    
img.create_channel
    content: url("../img/create_channel.svg");
    
img.search_channel
    content: url("../img/search_channel.svg");

img.search_topic
    content: url("../img/search_channel.svg");

img.topic
    content: url("../img/topic.svg");
    
img.post
    content: url("../img/topic.svg");

img.channel
    content: url("../img/channel.svg");

img.watch
    content: url("../img/watch.svg");