.login
    .logo
        margin-bottom: 30%
        height: 19vh
        padding: 8vh
        background-image: url(../img/bg.gif)
        background-repeat: no-repeat
        background-position: center
        opacity: 0.7
        .title
            text-align: center
            font-size: 200%
            position: absolute
            top: 20.5vh
            left: 11.5vw
    .pe-button.send-login
        width: 98%
    .pe-textfield, .pe-button__content
        background-color: rgba(255,255,255,1)