.login
    .logo
        height: 27vh
        margin-top: -4vh
        margin-bottom: 2vh
        background-image: url(../img/bg.gif)
        background-repeat: no-repeat
        background-position: center
        opacity: 0.7
        .title
            text-align: center
            font-size: 200%
            position: absolute
            top: 17vh
            left: 11vw
    .text
        margin-top: 2vh
        margin-left: 11vw
    .send
        margin-top: 2vh
        margin-left: 35vw