menu_btn_x = 82vw
menu_btn_y = 88vh
menu_btn_w = 13vw
menu_btn_h = 13vw
menu_elem_w = 60vw
menu_elem_h = 10vh
balloon_icon_gap = 1vw
menu_z_index = 10
menu_elem_index = 7
cover_z_index = 5
delay_unit = 50ms
.menu
    .main-button 
        background-color: active-bg-color
        width: menu_btn_w
        height: menu_btn_h
        z-index: menu_z_index
        position: fixed
        top: menu_btn_y
        left: menu_btn_x
        border-radius: 50%
        shadowing()
        img.plus
            width: 13vw
            height: 13vw
            position: relative
    .main-container
        z-index: menu_elem_index
        width: 100%
        position: fixed
    .main-container.none
        pointer-events: none
    .menu-elem
        z-index: menu_z_index
        position: fixed
        left: menu_btn_x + menu_btn_w - menu_elem_w
        width: menu_elem_w + balloon_icon_gap
        height: menu_elem_h
        border-collapse: separate;
        border-spacing: balloon_icon_gap 0
        .bg
            display: table-cell
            width: menu_btn_w + balloon_icon_gap
            height: menu_btn_h
            right: 0
            border-radius: 50%
            vertical-align: middle
            shadowing()
            img.create_channel
                top: 5%
                position: relative
                width: 100%
                height: 50%
            img.search_channel
                top: 5%
                position: relative
                width: 100%
                height: 50%
            .locale
                text-align: center
        .balloon
            shadowing()
            display: table-cell
            border: solid 1px #ddd
            width: menu_elem_w - menu_btn_w - balloon_icon_gap
            text-align: center
            vertical-align: middle
            background-color: #fff
    .menu-elem.none, .menu-elem.close
        pointer-events:none;
    //0th menu
    .menu-0
        top: menu_btn_y - 12vh
        .bg
            background-color: #ffdd44
    .menu-0.close
            transition-delay: delay_unit * 3
    //1st menu        
    .menu-1
        top: menu_btn_y - 24vh
        .bg 
            background-color: #97cd76
    .menu-1.open
        transition-delay: delay_unit
    .menu-1.close
        transition-delay: delay_unit * 2
    //2nd menu
    .menu-2
        top: menu_btn_y - 36vh
        .bg
            background-color: #1fc8db
    .menu-2.open
        transition-delay: delay_unit * 2
    .menu-2.close
        transition-delay: delay_unit
    //3rd menu
    .menu-3
        top: menu_btn_y - 48vh
        .bg
            background-color: #42afe3
    .menu-3.open
        transition-delay: delay_unit * 3
    .cover
        position: fixed
        width: 100vw
        height: 100vh
        top: 0vh
        left: 0vw
        opacity: 0.9
        background-color: #fff
        //pointer-events: none;
        z-index: cover_z_index
    .cover.disable
        pointer-events: none;
        