.topic
    .post
        margin-left: 1vw
        width: 98vw
    .date
        display: -webkit-box
        img.clock
            width: 4vw
        div
            font-size: 12px
            margin-top: 0.4vh
    .content
        p, li
            font-size: 12px
            width: 100%
            overflow-wrap: break-word
        pre
            font-size: 12px
            overflow: auto
            background-color: #f7f7f7
        img
            width: 100%
        ol, ul
            padding-left: 6vw
        blockquote
            margin-left: 2vw
            margin-right: 0vw
            border-left: medium solid #ddd
            padding-left: 1vw
            h2
                font-size: 12px
    .editor
        position: fixed
        top: 92vh
        height: 8vh
        left: 0vw
        width: 100vw
        border-top: solid 1px #aaa
        background-color: #fff
        .editbox
            display: -webkit-box
            .DraftEditor-root
                width: 76vw
                height: 4vh
                top: 2vh
                margin-left: 1vw
            img
                width: 6vh
                margin-top: 1vh
                margin-left: 1vw
            img.plus
                background-color: cornflowerblue
