.create
    .title-h1
        margin-bottom: 3%
    input.name
        margin-bottom: 4%
    .block
        margin-bottom: 4%
    .desc
        margin-top: 0.5%
        height: 8vh
    .id-level
        button
            col(3)
    .display-style
        button
            col(6)
    button
        margin-top: 3%
        col(6)