.menus 
    background-color: active-bg-color;
    width: 13vw;
    height: 13vw;
    z-index: 20;
    position: absolute;
    top: 88vh;
    left: 82vw;
    border-radius: 50%;
    shadowing()
    img.plus
        width: 10vw;
        height: 10vw;
        position: relative
        top: 1.5vw
        left: 1.5vw
        transform: translateX(-50%) translateY(-50%)
